@{
    ViewData["Title"] = "Medical";
}
@*             <h1>@ViewData["Title"]</h1>
<P>Organic-Medicals(Ayurvedic js)</p>*@

<div class="container-fluid">


  <header>
      <div class="container-fluid">
          <div>
              <ul class="medical-nav-heading">
                  <li>
                      HOME
                  </li>
                    <li>
                        ABOUT US
                    </li>
                    <li>
                        SPECIALITIES
                    </li>
                    <li>
                       BLOG
                    </li>
                    <li>
                        CONTACT US
                    </li>
              </ul>
              </div>
      </div>
  </header>
    <div id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel">
        <br />
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-12  py-4">
                        <div class="text-center">
                          
                            <p class="mb-2 my-md-4 banner-content">
                                
                                Ayurveda treatment starts with an internal purification process, followed by a special diet, herbal remedies, massage therapy, yoga, and meditation.
                            </p>
                            <button class="blue-btn">
                                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
                            </button>
                            <img src=".././../../../../assets/images/ayurvedic-banner.webp"
                                 class="d-block w-100 banner-img"
                                 alt="..." />
                        </div>
                    </div>

                  
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-12  py-4">
                        <div class="text-center">

                            <p class="mb-2 my-md-4 banner-content">
                               
                                Ayurveda treatment starts with an internal purification process, followed by a special diet, herbal remedies, massage therapy, yoga, and meditation.
                            </p>
                            <button class="blue-btn">
                                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
                            </button>
                            <img src=".././../../../../assets/images/ayurvedic-banner.webp"
                                 class="d-block w-100 banner-img"
                                 alt="..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-12  py-4">
                        <div class="text-center">

                            <p class="mb-2 my-md-4 banner-content">
                               
                                Ayurveda treatment starts with an internal purification process, followed by a special diet, herbal remedies, massage therapy, yoga, and meditation.
                            </p>
                            <button class="blue-btn">
                                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
                            </button>
                            <img src=".././../../../../assets/images/ayurvedic-banner.webp"
                                 class="d-block w-100 banner-img"
                                 alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    


   